<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<array>
		<dict>
			<key>animate_name</key>
			<string>flag0</string>
			<key>filename</key>
			<string>flag0</string>
			<key>fileext</key>
			<string></string>
			<key>delay</key>
			<real>0.3</real>
			<key>frames</key>
			<string>01,02,03,04</string>
		</dict>
        <dict>
            <key>animate_name</key>
            <string>flag1</string>
            <key>filename</key>
            <string>flag1</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag2</string>
            <key>filename</key>
            <string>flag2</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag3</string>
            <key>filename</key>
            <string>flag3</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag4</string>
            <key>filename</key>
            <string>flag4</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag5</string>
            <key>filename</key>
            <string>flag5</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag6</string>
            <key>filename</key>
            <string>flag6</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag7</string>
            <key>filename</key>
            <string>flag7</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag8</string>
            <key>filename</key>
            <string>flag8</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag9</string>
            <key>filename</key>
            <string>flag9</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag10</string>
            <key>filename</key>
            <string>flag10</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag11</string>
            <key>filename</key>
            <string>flag11</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag12</string>
            <key>filename</key>
            <string>flag12</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>solider</string>
            <key>filename</key>
            <string>soliderwalk</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>solider2</string>
            <key>filename</key>
            <string>troop1_right_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>buildupgrade</string>
            <key>filename</key>
            <string>bupgrade</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15</string>
        </dict>
        <!-- attack animation in battle -->
        <dict>
            <key>animate_name</key>
            <string>attack1</string>
            <key>filename</key>
            <string>attack1_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>attack2</string>
            <key>filename</key>
            <string>attack2_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>attack3</string>
            <key>filename</key>
            <string>attack3_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill3 ambush -->
        <dict>
            <key>animate_name</key>
            <string>skill3</string>
            <key>filename</key>
            <string>skill3_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08</string>
        </dict>
        <!-- skill4 archer -->
        <dict>
            <key>animate_name</key>
            <string>skill4</string>
            <key>filename</key>
            <string>skill4_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.08</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill5 assassinate -->
        <dict>
            <key>animate_name</key>
            <string>skill5</string>
            <key>filename</key>
            <string>skill5_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.08</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,09,10,11</string>
        </dict>
        <!-- skill6 attackup -->
        <dict>
            <key>animate_name</key>
            <string>skill6</string>
            <key>filename</key>
            <string>skill6_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill7 ballista , same as skill4 archer -->
        <dict>
            <key>animate_name</key>
            <string>skill7</string>
            <key>filename</key>
            <string>skill4_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.08</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill8 calm -->
        <dict>
            <key>animate_name</key>
            <string>skill8</string>
            <key>filename</key>
            <string>skill8_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15</string>
        </dict>
        <!-- skill9 charge -->
        <dict>
            <key>animate_name</key>
            <string>skill9</string>
            <key>filename</key>
            <string>skill9_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10</string>
        </dict>
        <!-- skill10 conspire water -->
        <dict>
            <key>animate_name</key>
            <string>skill10</string>
            <key>filename</key>
            <string>skill10_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!--skill11 conspire fire -->
        <dict>
            <key>animate_name</key>
            <string>skill11</string>
            <key>filename</key>
            <string>skill11_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.18</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill12 counter spell -->
        <dict>
            <key>animate_name</key>
            <string>skill12</string>
            <key>filename</key>
            <string>skill12_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill13 cruel -->
        <dict>
            <key>animate_name</key>
            <string>skill13</string>
            <key>filename</key>
            <string>skill13_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill14 dispel -->
        <dict>
            <key>animate_name</key>
            <string>skill14</string>
            <key>filename</key>
            <string>skill14_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill16 double attack -->
        <dict>
            <key>animate_name</key>
            <string>skill16</string>
            <key>filename</key>
            <string>skill9_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10</string>
        </dict>
        <!-- skill17 == skill13 enrage -->
        <dict>
            <key>animate_name</key>
            <string>skill17</string>
            <key>filename</key>
            <string>skill13_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill18 feedback -->
        <dict>
            <key>animate_name</key>
            <string>skill18</string>
            <key>filename</key>
            <string>skill10_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill19 fire -->
        <dict>
            <key>animate_name</key>
            <string>skill19</string>
            <key>filename</key>
            <string>skill19_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>skill20</string>
            <key>filename</key>
            <string>skill20_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.2</real>
            <key>frames</key>
            <string>01,02</string>
        </dict>
        <!-- skill21 heal -->
        <dict>
            <key>animate_name</key>
            <string>skill21</string>
            <key>filename</key>
            <string>skill21_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13</string>
        </dict>
        <!-- skill22 威压 -->
        <dict>
            <key>animate_name</key>
            <string>skill22</string>
            <key>filename</key>
            <string>skill22_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill23 fear -->
        <dict>
            <key>animate_name</key>
            <string>skill23</string>
            <key>filename</key>
            <string>skill23_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.08</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23</string>
        </dict>
        <!-- skill24 iron wall -->
        <dict>
            <key>animate_name</key>
            <string>skill24</string>
            <key>filename</key>
            <string>skill24_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>15,14,13,12,11,10,09,08,07,06,05,04,03,02,01</string>
        </dict>
        <!-- skill25 joint attack -->
        <dict>
            <key>animate_name</key>
            <string>skill25</string>
            <key>filename</key>
            <string>skill9_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10</string>
        </dict>
        <!-- skill26 诏书 -->
        <dict>
            <key>animate_name</key>
            <string>skill26</string>
            <key>filename</key>
            <string>skill26_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34</string>
        </dict>
        <!-- skill27 lightning -->
        <dict>
            <key>animate_name</key>
            <string>skill27</string>
            <key>filename</key>
            <string>skill27_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill28 机甲 -->
        <dict>
            <key>animate_name</key>
            <string>skill28</string>
            <key>filename</key>
            <string>skill28_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill29 仁义 -->
        <dict>
            <key>animate_name</key>
            <string>skill29</string>
            <key>filename</key>
            <string>skill28_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill30 内讧 -->
        <dict>
            <key>animate_name</key>
            <string>skill30</string>
            <key>filename</key>
            <string>skill30_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11</string>
        </dict>
        <!-- skill31 mislead -->
        <dict>
            <key>animate_name</key>
            <string>skill31</string>
            <key>filename</key>
            <string>skill31_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01</string>
        </dict>
        <!-- skill32 un poison -->
        <dict>
            <key>animate_name</key>
            <string>skill32</string>
            <key>filename</key>
            <string>skill32_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>skill33</string>
            <key>filename</key>
            <string>skill33_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08</string>
        </dict>
        <!-- skill34 rain -->
        <dict>
            <key>animate_name</key>
            <string>skill34</string>
            <key>filename</key>
            <string>skill34_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17,18,19,20,21</string>
        </dict>
        <!-- skill35 reinforce -->
        <dict>
            <key>animate_name</key>
            <string>skill35</string>
            <key>filename</key>
            <string>skill21_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13</string>
        </dict>
        <!-- skill36 return spell -->
        <dict>
            <key>animate_name</key>
            <string>skill36</string>
            <key>filename</key>
            <string>skill36_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09</string>
        </dict>
        <!-- skill37 avenage -->
        <dict>
            <key>animate_name</key>
            <string>skill37</string>
            <key>filename</key>
            <string>skill13_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06</string>
        </dict>
        <!-- skill38 rumor -->
        <dict>
            <key>animate_name</key>
            <string>skill38</string>
            <key>filename</key>
            <string>skill38_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill39 calvary speed -->
        <dict>
            <key>animate_name</key>
            <string>skill39</string>
            <key>filename</key>
            <string>skill39_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>skill56</string>
            <key>filename</key>
            <string>skill39_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill40 sap -->
        <dict>
            <key>animate_name</key>
            <string>skill40</string>
            <key>filename</key>
            <string>skill40_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill42 sunny -->
        <dict>
            <key>animate_name</key>
            <string>skill42</string>
            <key>filename</key>
            <string>skill42_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15</string>
        </dict>
        <!-- skill43 thor -->
        <dict>
            <key>animate_name</key>
            <string>skill43</string>
            <key>filename</key>
            <string>skill43_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill44 trap -->
        <!--skill45 群射 -->
        <dict>
            <key>animate_name</key>
            <string>skill45</string>
            <key>filename</key>
            <string>skill45_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01</string>
        </dict>
        <!-- skill47 water spell -->
        <dict>
            <key>animate_name</key>
            <string>skill47</string>
            <key>filename</key>
            <string>skill47_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <!-- skill48 pray -->
        <dict>
            <key>animate_name</key>
            <string>skill48</string>
            <key>filename</key>
            <string>skill48_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,17</string>
        </dict>
        <!-- skill49 mirror just move a unit to a new place -->
        <!-- skill50 no fight back -->
        <dict>
            <key>animate_name</key>
            <string>skill50</string>
            <key>filename</key>
            <string>skill50_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07</string>
        </dict>
        <!-- skill51 disturb -->
        <dict>
            <key>animate_name</key>
            <string>skill51</string>
            <key>filename</key>
            <string>skill12_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill52 silence -->
        <dict>
            <key>animate_name</key>
            <string>skill52</string>
            <key>filename</key>
            <string>skill52_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11</string>
        </dict>
        <!-- skill53 grab -->
        <dict>
            <key>animate_name</key>
            <string>skill53</string>
            <key>filename</key>
            <string>skill53_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.15</real>
            <key>frames</key>
            <string>01,02,03,04,05</string>
        </dict>
        <!-- skill54 think -->
        <dict>
            <key>animate_name</key>
            <string>skill54</string>
            <key>filename</key>
            <string>skill54_</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10,11</string>
        </dict>
        <!-- skill55 fence -->
        <dict>
            <key>animate_name</key>
            <string>aura</string>
            <key>filename</key>
            <string>aura</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.1</real>
            <key>frames</key>
            <string>01,02,03,04,05,06,07,08,09,10</string>
        </dict>
	</array>
</dict>
</plist>
