<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<array>
		<dict>
			<key>animate_name</key>
			<string>flag0</string>
			<key>filename</key>
			<string>flag0</string>
			<key>fileext</key>
			<string></string>
			<key>delay</key>
			<real>0.3</real>
			<key>frames</key>
			<string>01,02,03,04</string>
		</dict>
        <dict>
            <key>animate_name</key>
            <string>flag1</string>
            <key>filename</key>
            <string>flag1</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag2</string>
            <key>filename</key>
            <string>flag2</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag3</string>
            <key>filename</key>
            <string>flag3</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag4</string>
            <key>filename</key>
            <string>flag4</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag5</string>
            <key>filename</key>
            <string>flag5</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag6</string>
            <key>filename</key>
            <string>flag6</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag7</string>
            <key>filename</key>
            <string>flag7</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag8</string>
            <key>filename</key>
            <string>flag8</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag9</string>
            <key>filename</key>
            <string>flag9</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag10</string>
            <key>filename</key>
            <string>flag10</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag11</string>
            <key>filename</key>
            <string>flag11</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
        <dict>
            <key>animate_name</key>
            <string>flag12</string>
            <key>filename</key>
            <string>flag12</string>
            <key>fileext</key>
            <string></string>
            <key>delay</key>
            <real>0.3</real>
            <key>frames</key>
            <string>01,02,03,04</string>
        </dict>
	</array>
</dict>
</plist>
