<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bupgrade01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,2},{44,87}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{44,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{62,85}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{98,87}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{104,87}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade05.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{102,87}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade06.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{104,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade07.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{100,87}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade08.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{104,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade09.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{100,87}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{104,87}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{104,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{100,87}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{100,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade12.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{106,87}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{108,87}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{108,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>bupgrade15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{110,83}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,83}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sanguoeffect.png</string>
            <key>size</key>
            <string>{1492,91}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8872486f4cfaf06b8379e3a7e78dcb82:01a9a22c491ef7b391a4e8d96d7375fb:59aca1163ea1035902b2a9604f806c3c$</string>
            <key>textureFileName</key>
            <string>sanguoeffect.png</string>
        </dict>
    </dict>
</plist>
